/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  padding: 0;
  background-color: #1f1e2c;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

label{
  color: #fff;
}

h2{
  color: #fff;
}

.login{
  padding-top: 100px;
}
